<!-- Required Alert -->
<% if current_user.program.supporters.empty? && !current_user.stripe_customer_id? %>
	<div class="required_alert">You need to <%= link_to "choose a supporter", supporters_path %> and <%= link_to "provide billing information", billing_user_path(current_user) %>.</div>
<% elsif current_user.program.supporters.empty? && current_user.stripe_customer_id? %>
	<div class="required_alert">You need to <%= link_to "choose a supporter", supporters_path %>.</div>
<% elsif current_user.program.supporters.any? && !current_user.stripe_customer_id? %>
	<div class="required_alert">You need to <%= link_to "provide billing information", billing_user_path(current_user) %>.</div>
<% end %>

<% if current_user.program.end_date != Date.current - 1 %>
<!-- Todays's Goal -->
<% if @day.goal? %>
	<h3 style="margin-bottom:0;">Today's Goal:</h3>
	<h4 style="margin-top:0;margin-bottom:10px;"><%= @day.goal.html_safe %></h4>
<% end %>

<!-- Counters -->
<div class="ui-grid-a counters" style="margin:0 !important;">
	<div class="ui-block-a">
		<a href="javascript:void(0);" data-role="button" data-theme="d" id="wanted_btn">
			Wanted To (<span id="wanted_count"><%=@day.want_count%></span>)
		</a>
		<%= form_for @day, url: want_day_path(@day), remote: true, html: { method: :put, id: "wanted_form", style: "display:none;" } do |f| %>
			<%= f.submit "Wanted To (#{@day.want_count})", "data-theme" => "d" %>
		<% end %>
	</div>
	<div class="ui-block-b">
		<a href="javascript:void(0);" data-role="button" data-theme="d" id="did_btn">
			Did (<span id="did_count"><%=@day.did_count%></span>)
		</a>
		<%= form_for @day, url: did_day_path(@day), remote: true, html: { method: :put, id: "did_form", style: "display:none;" } do |f| %>
			<%= f.submit "Did (#{@day.did_count})", "data-theme" => "d" %>
		<% end %>
	</div>
</div>
<% end %>

<!-- Calendar -->
<div id="calendar">
	<h3 id="month">
		<%= link_to "<", :month => (@today.beginning_of_month-1).strftime("%Y-%m-01") %>
		<%= h @today.strftime("%B %Y") %>
		<%= link_to ">", :month => (@today.end_of_month+1).strftime("%Y-%m-01") %>
		<%= link_to "Legend", "#legend", "data-rel" => "popup", class: "link", style: "position:absolute;right:7px;" %>
	</h3>
	<%= calendar_for @days, :year => @today.year, :month => @today.month, :today => Date.current do |calendar| %>
		<%= calendar.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat')%>
		<% calendar.day(:day_method => :date) do |date, days| %>
			<%= date.day %>
			<% for day in days %>
				| D<%= h(day.day) %>
				<div class="result">
					<% if day.result == 1 %>
						<%= link_to image_tag("glyphicons_206_ok_2.png", size: "15x15"), "#success_#{day.id}", "data-rel" => "popup" %>
						<div data-role="popup" id="success_<%= day.id %>">
							<a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
					    <div data-role="header" data-theme="d">
						    <h1><%= day.date.strftime("%a, %b %d") %></h1>
							</div>
							<div class="popup-content">
								<p class="daypop-p">You were successful on this day. Your goal was: <%= day.goal.html_safe %>.</p>
								<%= render 'comments', day: day %>
							</div>
						</div>
					<% elsif day.result == 2 %>
						<%= link_to image_tag("glyphicons_207_remove_2.png", size: "15x15"), "#failure_#{day.id}", "data-rel" => "popup" %>
						<div data-role="popup" id="failure_<%= day.id %>">
							<a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
					    <div data-role="header" data-theme="d">
						    <h1><%= day.date.strftime("%a, %b %d") %></h1>
							</div>
					    <div class="popup-content">
								<p class="daypop-p">You were not successful on this day. Your goal was: <%= day.goal.html_safe %>.</p>
								<%= render 'comments', day: day %>
							</div>
						</div>
					<% elsif day.result == 3 %>
						<%= link_to image_tag("glyphicons_030_pencil.png", size: "15x15"), "#editable_#{day.id}", "data-rel" => "popup" %>
						<div data-role="popup" id="editable_<%= day.id %>">
							<a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
					    <div data-role="header" data-theme="d">
						    <h1><%= day.date.strftime("%a, %b %d") %></h1>
							</div>
							<div class="popup-content">
								<h4><%= day.checkin_msg ? day.checkin_msg : "Were you successful on this day?" %></h4>
						    <div data-role="controlgroup">
							    <%= link_to "Yes", success_day_path(day), method: :put, "data-role" => "button", "data-theme" => "d" %>
									<%= link_to "No", failure_day_path(day), method: :put, "data-role" => "button", "data-theme" => "d" %>
									<% if Program.find(day.program_id).free_days_left > 0 %>
										<%= link_to "Use a Free Day", free_day_path(day), method: :put, "data-role" => "button", "data-theme" => "d" %>
									<% end %>
								</div>
								<%= render 'comments', day: day %>
							</div>
						</div>
					<% elsif day.result == 4 %>
						<%= link_to image_tag("glyphicons_196_circle_exclamation_mark.png", size: "15x15"), "#missed_#{day.id}", "data-rel" => "popup" %>
						<div data-role="popup" id="missed_<%= day.id %>">
							<a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
					    <div data-role="header" data-theme="d">
						    <h1><%= day.date.strftime("%a, %b %d") %></h1>
							</div>
					    <div class="popup-content">
								<p class="daypop-p">You missed your check-in on this day - we charged you a buck. Your goal was: <%= day.goal.html_safe %>.</p>
								<%= render 'comments', day: day %>
							</div>
						</div>
					<% elsif day.result == 5 %>
						<%= link_to "FREE DAY", "#free_#{day.id}", class: "free_day", "data-rel" => "popup" %>
						<div data-role="popup" id="free_<%= day.id %>">
							<a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
					    <div data-role="header" data-theme="d">
						    <h1><%= day.date.strftime("%a, %b %d") %></h1>
							</div>
					    <div class="popup-content">
								<p class="daypop-p">You used one of your Free Days this day. Your goal was: <%= day.goal.html_safe %>.</p>
								<%= render 'comments', day: day %>
							</div>
						</div>
					<% elsif day.result == nil %>
						<%= link_to image_tag("iconmonstr-help-icon.png", size: "20x20"), "#future_#{day.id}", "data-rel" => "popup" %>
						<div data-role="popup" id="future_<%= day.id %>">
							<a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
					    <div data-role="header" data-theme="d">
						    <h1><%= day.date.strftime("%a, %b %d") %></h1>
							</div>
							<% if day.date == Date.current %>
								<div class="popup-content">
									<h4 style="margin-bottom:10px;">Too early to check in.</h4>
									<%= render 'comments', day: day %>
								</div>
							<% else %>
								<div class="popup-content" style="margin-bottom:-10px;padding-bottom:0;"><h4>Too early to check in.</h4></div>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>

<div data-role="popup" id="legend">
	<a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
  <div class="popup-content">
		<p style="font-size:0.8em;">
			<span class="no-wrap"><%= image_tag("glyphicons_206_ok_2.png", size: "12x12") %> &nbsp;Successful,&nbsp;</span>
			<span class="no-wrap"><%= image_tag("glyphicons_207_remove_2.png", size: "12x12") %>&nbsp;Unsuccessful,&nbsp;</span>
			<span class="no-wrap"><%= image_tag("glyphicons_196_circle_exclamation_mark.png", size: "12x12") %>&nbsp;Failed&nbsp;to&nbsp;check&nbsp;in,&nbsp;</span>
			<span class="no-wrap"><%= image_tag("free_day.png", size: "20x20", style: "position:relative;top:5px;") %> &nbsp;Used a Free Day</span>
		</p>
	</div>
</div>

<style type="text/css">
	.popup-content {
		padding: 10px;
		min-width: 200px;
	}

	.popup-content .ctime {
		font-size: 8pt;
		text-align: right;
	}

	.popup-content .ccontent {
		background-color: rgba(0, 0, 0, 0.1); // #717171;
		border-radius: 5px;
		padding: 10px;
		margin: 3px 0 10px 0;
		//color: #717171;
	}
</style>

<% if current_user.program.end_date != Date.current - 1 %>
<!-- Dollar balance and Free Days balance -->
<div style="text-align:center;">
	<h4 style="margin-top:5px;margin-bottom:5px;"><strong>
		$<%= current_user.program.this_week.missed*current_user.program.daily_commitment %> 
		lost</strong> from missed checkins</h4>
	<% if current_user.program.this_week.free_days > 0 %>
		<h4 style="margin-top:5px;"><strong>
			<%= "#{current_user.program.free_days_left} #{'free day'.pluralize(current_user.program.free_days_left)}" %>
		</strong> left this week</h4>
	<% end %>
</div>
<% end %>