<% if day.comments.any? %>
	<p style="text-align:center;margin: 20px 0 7px 0;">Your Comments:</p>
	<% day.comments.each do |c| %>
		<div class="ctime"><%= c.created_at.strftime("%a, %b %e, %l:%M%P") %></div>
		<div class="ccontent"><%= c.content %></div>
	<% end %>
<% end %>
<div id="jscomments_<%= day.id %>"></div>
<style type="text/css">.hidden {display: none}</style>
<div><a href="javascript:void(0);" class="link" id="togcom_<%= day.id %>">Add a Comment</a></div>
<div id="comform_<%= day.id %>" style="display:none;">
	<%= form_for day.comments.build, remote: true, html: { id: "new_comment_#{day.id}" } do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.text_area :content, id: "comment_content_#{day.id}" %>
		<div id="charcount_<%= day.id %>" style="text-align:right;font-size:8pt;"></div>
		<div id="comment_error_<%= day.id %>" class="client_error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>
		<%= f.hidden_field :day_id, value: day.id %>
		<%= f.submit "Add Comment", "data-theme" => "d" %>
	<% end %>
</div>
<% user = User.find(Program.find(day.program_id).user_id) %>
<script type="text/javascript">
	// Toggle
	$(document).on('pagebeforeshow', function(){
	    $('#togcom_<%= day.id %>').click(function(){
	        $('#comform_<%= day.id %>').toggle();
	    });
	});
	// Charactier counter
	$(document).on('pagebeforeshow', function(){
		$('#comment_content_<%= day.id %>').keyup(function () {
		  var max = 255;
		  var len = $(this).val().length;
		  var char = max - len;
		  if (len == max) {
		    $('#charcount_<%= day.id %>').text('You are at the character limit');
	    } else if (len >= max) {
	    	$('#charcount_<%= day.id %>').text(Math.abs(char) + ' characters over the limit');
		  } else {
		    $('#charcount_<%= day.id %>').text(char + ' characters left');
		  }
		});
	});
	// Content field validation
	$(document).on('pagebeforeshow', function(){
	  $('#new_comment_<%= day.id %>').submit(function() {
	    $('input[type=submit]').attr('disabled', true);
	    if ($('#comment_content_<%= day.id %>').val().length == 0) {
        $('#comment_error_<%= day.id %>').text("Comment can't be blank");
        $('.ui-submit').removeClass('ui-btn-active')
        $('input[type=submit]').attr('disabled', false);
        return false;
      } else if ($('#comment_content_<%= day.id %>').val().length > 255) {
        $('#comment_error_<%= day.id %>').text("Comment can't be longer than 255 characters. You need to cut " + ($('#comment_content_<%= day.id %>').val().length - 255) + " characters.");
        $('.ui-submit').removeClass('ui-btn-active')
        $('input[type=submit]').attr('disabled', false);
        return false;
      } else {
      	$('#new_comment_<%= day.id %>').trigger('submit.rails');
      	$('.ui-submit').removeClass('ui-btn-active')
      	$("#jscomments_<%= day.id %>").append("<div class='ctime'><%= Time.now.in_time_zone(user.time_zone).strftime('%a, %b %e, %l:%M%P') %></div><div class='ccontent'>" + $('#comment_content_<%= day.id %>').val() + "</div>")
      	$('#comment_content_<%= day.id %>').val('');
      	$('#comform_<%= day.id %>').toggle();
      	$('input[type=submit]').attr('disabled', false);
        //$('#new_comment_<%= day.id %>')[0].submit();
      }
			return false;
	  });
	});
</script>