
<div class="section" id="section-8">
  <div class="content-wrapper" id="content-8">
    
    <div class="last_graphic" id="section-8-graphic">
    <!--  <img src="/assets/device-with-halo.png" /> -->
    </div>
    
    <div class="single">
      <h2 class="center-align">
      Kick It This New Year 
      <!-- Help Us Make Kick-It Better -->
      </h2>
      <div class="center-align">
        <p style="font-size:16pt">
        We’ll be having a private beta launch for New Year’s 2014, and smaller test launches before then. If you want to be a part of it, fill out the little form below. We’ll send an email when we’re ready for you.
      
       <!-- We're running a Super Private Beta test of Kick-It from July 29 to August 16.  At this time, we are looking for people trying to Stop or Reduce the following behaviors.  There will be more tests later, so sign up even you don't qualify for the current one now and we'll be in touch as soon as we're ready for you.</p>
         <div style="float: left; width: 50%; margin-top:0;">
<ul style="margin-top: 0pt;">
<li>Biting Nails</li>
<li>Checking Facebook</li>
<li>Late Night Snacking</li>
</ul>
</div>
<div style="float: right; width: 50%; margin-top:0;">
<ul style="margin-top:0;">
<li>Overeating at Meals</li>
<li>Eating Sweets</li>
<li>Drinking Soda</li>
</ul>
</div>-->

      </div>
      <div class="center-align" style="background: #333; border: 1.5pt dashed #fff; margin-top: 10pt; padding: 10pt;clear:both;">
        <%= form_for @lead, :validate => true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.hidden_field :ab_value, value: ab_value %>
          <div style="margin:20px 0;"><%= f.label :first_name, "My first name is" %>
          <%= f.text_field :first_name, placeholder: "Name", class: "fill-in-the-blank", style: "width:10em" %></div>
          <div style="margin:20px 0;"><%= f.label :email, "my email address is" %>
          <%= f.text_field :email, placeholder: "email", class: "fill-in-the-blank", style: "width:12em" %>,</div>

          <% if browser.firefox? %>
            <%= f.label :goal, "and I want to", style: "margin-right:5px;" %>
            <%= f.select :goal, ["quit","cut back"], {}, { class: "fill-in-the-blank", style: "width:12em;" } %>
          <% else %>
            <div style="margin:20px 0;">
            <%= f.label :goal, "and I want to", style: "margin-right:5px;" %>
            <input id="foo1" class="fill-in-the-blank" style="width:5em; border-top: 1pt solid #333 !important;" type="text" value="" disabled /><%= f.select :goal, ["quit","cut back"], {}, { class: "fill-in-the-blank", style: "width:3.3em; border-top: 1pt solid #333 !important;" } %><input id="foo2" class="fill-in-the-blank" style="width:4em; border-top: 1pt solid #333 !important;" type="text" value="" disabled />
            </div>
          <% end %>

          <div style="margin:20px 0;"><%= f.label :habit_name, "my habit of" %>
          <%= f.text_field :habit_name, placeholder: "habit", class: "fill-in-the-blank", style: "width:12em", id: "signup-habit" %>.</div>
          <%= f.submit "Sign up", class: "btn", style: "margin:10px 0 20px 0;" %>
        <% end %>
      </div>
      <p><i>Contact us at <a href="mailto:support@kick-it-now.com">support@kick-it-now.com</a> with questions or if you want to work with us</i></p>
    </div>
  </div>
</div>

<style type="text/css">
select {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  text-align: center;
  text-align: -webkit-center;
  height: 27pt;
}

.fill-in-the-blank{
/*  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
  margin: 0pt !important;
  padding: 0pt !important;
}
</style>