<div class="section" id="section-8">
  <div class="content-wrapper" id="content-8">
    
    <div class="last_graphic" id="section-8-graphic">
    <!--  <img src="/assets/device-with-halo.png" /> -->
    </div>
    
    <div class="single">
      <h2 class="center-align">Kick It This New Year</h2>
      <div class="center-align">
        <p>We’ll be having a semi-public beta launch around New Year’s 2014, and private beta launches before then. If you want to be a part of it, fill out the little form below. We’ll email you when we’re ready for you.</p>
      </div>
      <div class="center-align" style="background: #333; border: 1.5pt dashed #fff; margin-top: 10pt; padding: 10pt;">
        <%= form_for @lead, :validate => true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.hidden_field :ab_value, value: ab_value %>
          <div style="margin:20px 0;"><%= f.label :first_name, "My first name is" %>
          <%= f.text_field :first_name, placeholder: "Name", class: "fill-in-the-blank", style: "width:10em" %></div>
          <div style="margin:20px 0;"><%= f.label :email, "my email address is" %>
          <%= f.text_field :email, placeholder: "email", class: "fill-in-the-blank", style: "width:12em" %>,</div>

          <div style="margin:20px 0;">
            <%= f.label :goal, "and I want to", style: "margin-right:5px;" %>
            <select type="text" name="test" class="fill-in-the-blank" style="width:5em;" disabled></select>
            <%= f.select :goal, ["quit","cut back"], {}, { class: "fill-in-the-blank", style: "width:3.3em;margin:0;padding:0;" } %>
          </div>

          <div style="margin:20px 0;"><%= f.label :habit_name, "my habit of" %>
          <%= f.text_field :habit_name, placeholder: "habit", class: "fill-in-the-blank", style: "width:12em", id: "signup-habit" %>.</div>
          <%= f.submit "Sign up", class: "btn", style: "margin:10px 0 20px 0;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>