<%= form_for @user do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<fieldset>
		<div id="wrapper"></div>

		
	</fieldset>
	<fieldset>
		<p>What do you want to kick?</p>	
		<%= f.select :habit, User::HABITS %>
	</fieldset>
	<fieldset>
		<%= f.email_field :email, placeholder: "Email" %>
		<%= f.password_field :password, placeholder: "Password" %>
		<%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
		<%= f.submit "Sign up" %>
	</fieldset>
<% end %>

<script type="text/javascript">
$(function() {
    if (typeof (carousel) == "undefined") {
        initChoixPhotos(); }
});

initChoixPhotos = function () {
    document.addEventListener('pageshow', function (e) { e.preventDefault(); }, false);

	var	carousel,
		el,
		i,
		page,
		slides = [
			'<strong>Swipe</strong> to know more &gt;&gt;&gt;<br>Or scroll down for <em>Lorem Ipsum</em>',
			'1. <%= image_tag("glyphicons_030_pencil.png", size: "25x25") %>',
			'2. A robot must obey the orders given to it by human beings, except where such orders would conflict with the First Law.',
			'3. A robot must protect its own existence as long as such protection does not conflict with the First or Second Laws.'
		];

	carousel = new SwipeView('#wrapper', {
		numberOfPages: slides.length,
		hastyPageFlip: true
	});

	// Load initial data
	for (i=0; i<3; i++) {
		page = i==0 ? slides.length-1 : i-1;

		el = document.createElement('span');
		el.innerHTML = slides[page];
		carousel.masterPages[i].appendChild(el)
	}

	carousel.onFlip(function () {
		var el,
			upcoming,
			i;

		for (i=0; i<3; i++) {
			upcoming = carousel.masterPages[i].dataset.upcomingPageIndex;

			if (upcoming != carousel.masterPages[i].dataset.pageIndex) {
				el = carousel.masterPages[i].querySelector('span');
				el.innerHTML = slides[upcoming];
			}
		}
	});
}
</script>