<% content_for :title do %><title>Profile</title><% end %>
<% content_for :h1 do %><h1>Profile</h1><% end %>

<h3>Edit <%= resource_name.to_s.humanize %></h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>
  <br />
  <div><%= f.label :phone %>
  <%= f.text_field :phone %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br />
  <div><%= f.label :password %>
  <%= f.password_field :password, :autocomplete => "off", placeholder: "Leave blank if no change" %></div>

  <br />
  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, placeholder: "Leave blank if no change" %></div>

  <br />
  <div><%= f.label :current_password %>
  <%= f.password_field :current_password, placeholder: "Needed to confirm changes" %></div>

  <br />
  <div><%= f.label :time_zone %></div>
  <div style="margin-bottom:40px;"><%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<br>
<%= link_to "Unhappy? Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
