<%= form_for @user do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<fieldset>
		<p>What do you want to kick?</p>	
		<%= f.select :habit, User::HABITS %>
	</fieldset>
	<fieldset>
		<%= f.email_field :email, placeholder: "Email" %>
		<%= f.password_field :password, placeholder: "Password" %>
		<%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
		<%= f.submit "Sign up" %>
	</fieldset>
<% end %>