<% content_for :title do %><title>Home</title><% end %>
<% content_for :h1 do %><h1>Home</h1><% end %>

<h2>Kick it</h2>

<% if user_signed_in? %>
	<%= link_to 'Tracking', days_path, "data-role" => "button" %>
	<%= link_to 'Sign out', destroy_user_session_path, method: "delete", "data-role" => "button" %>
<% else %>
	<%= link_to 'Sign in', new_user_session_path %>
	
	<%= form_for @user do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<fieldset>
			<p>What do you want to kick?</p>	
			<%= f.select :habit, User::HABITS %>
		</fieldset>
		<fieldset>
			<p>Alright, let's kick X! Looks like you're new...</p>
			<p>Pick a username<br> (as anonymous as you want)</p>
			<%= f.text_field :username %>
			
			<p>Pick a password (a good one)</p>
			<%= f.password_field :password %>

			<p>Confirm your password</p>
			<%= f.password_field :password_confirmation %>
		</fieldset>
		<fieldset>
			<p>We'll want to send you some reminders</p>
			<%= f.text_field :phone, placeholder: "Cell number (to receive texts)" %>
			<%= f.email_field :email, placeholder: "Email" %>
		</fieldset>
		<fieldset>
			<p>Pick a start date</p>
			<%= f.text_field :start_date, type: "date" %>
		</fieldset>
		<fieldset>
			<p>Who in your life is closest to you and someone with whom you are comfortable sharing your progress?  We will send them a welcome email.</p>
			<%= f.select :supporter_relationship, User::RELATIONSHIPS %>
			<%= f.text_field :supporter_name, placeholder: "Supporter name" %>
			<%= f.text_field :supporter_email, placeholder: "Supporter email" %>
			<%= f.submit "Start" %>
		</fieldset>
	<% end %>
<% end %>