<p><%= "#{@user.supporter_name}," %></p>

<p>I’ve decided it’s time for me to cut down on <%= @user.habit.downcase %>, and I’m using a service called Kick it to help.  You'll get emails on my progress over the course of my one week program, which runs from <%= @user.start_date.strftime("%A, %B %d") %> to <%= @user.end_date.strftime("%A, %B %d") %>. Thanks so much for your support!</p>

<p>Best,<br>
<%= @user.email %></p>