<h2>Pre-start Checklist</h2>
<br>

<div data-role="controlgroup" class="checklist">
  <% if current_user.supporters.any? %>
    <%= link_to "Add Supporters (#{current_user.supporters.count} added)", supporters_path, "data-role" => "button", "data-icon" => "check" %>
  <% else %>
    <%= link_to "Add Supporters (#{current_user.supporters.count} added)", supporters_path, "data-role" => "button", "data-icon" => "alert" %>
  <% end %>
  <%= link_to "Add Billing Info", "#", "data-role" => "button", "data-icon" => "alert" %>
  <% current_user.user_todos.order("id asc").each do |user_todo| %>
    <% if user_todo.completed == true %>
      <%= link_to user_todo.name, complete_user_todo_path(user_todo), method: :put, "data-role" => "button", "data-icon" => "check" %>
    <% else %>
      <%= link_to user_todo.name, complete_user_todo_path(user_todo), method: :put, "data-role" => "button", "data-icon" => "alert" %>
    <% end %>
  <% end %>
</div>

<style type="text/css">
.ui-btn-text {
  white-space: normal;
}

.checklist .ui-btn {
  text-align: left
}

.ui-icon-empty {
  background: none;
}

.ui-icon-checked {
  background-image: url("assets/glyphicons_152_check.png");
}
.ui-icon-unchecked {
  background-image: url("assets/glyphicons_153_unchecked.png");
}
</style>