<h2>Pre-start Checklist</h2>
<h4 style="margin:0">Your 3-week program starts on <%= current_user.program.start_date.strftime("%A, %B %d") %></h4>
<br>

<h3 style="margin-bottom:5px">Required</h3>
<ul data-role="listview" data-inset="true">
  <% if current_user.program.supporters.any? %>
    <li data-icon="false">
      <a href=<%= supporters_path %> style="font-weight: bold;">
      <img src="/assets/checklist_checked.png" class="ui-li-icon ui-corner-none">
      <%= "Add Supporters (#{current_user.program.supporters.count} added)" %></a>
    </li>
  <% else %>
    <li data-icon="false">
      <a href=<%= supporters_path %> style="font-weight: bold;">
      <img src="/assets/checklist_unchecked.png" class="ui-li-icon ui-corner-none">
      <%= "Add Supporters (#{current_user.program.supporters.count} added)" %></a>
    </li>
  <% end %>
  <% if current_user.stripe_customer_id? %>
    <li data-icon="false">
      <a href=<%= billing_user_path(current_user) %> style="font-weight: bold;">
      <img src="/assets/checklist_checked.png" class="ui-li-icon ui-corner-none">Add Billing Info</a>
    </li>
  <% else %>
    <li data-icon="false">
      <a href=<%= billing_user_path(current_user) %> style="font-weight: bold;">
      <img src="/assets/checklist_unchecked.png" class="ui-li-icon ui-corner-none">Add Billing Info</a>
    </li>
  <% end %>
</ul>

<% if current_user.program.user_todos.any? %>
<h3 style="margin-top:20px;margin-bottom:5px">Optional</h3>
<ul data-role="listview" data-inset="true">
  <% current_user.program.user_todos.order("created_at desc").each do |user_todo| %>
    <% if user_todo.completed == true %>
      <li data-icon="false">
        <a href=<%= complete_user_todo_path(user_todo) %> data-method="put">
        <img src="/assets/checklist_checked.png" class="ui-li-icon ui-corner-none"><%= user_todo.name.html_safe %></a>
      </li>
    <% else %>
      <li data-icon="false">
        <a href=<%= complete_user_todo_path(user_todo) %> data-method="put">
        <img src="/assets/checklist_unchecked.png" class="ui-li-icon ui-corner-none"><%= user_todo.name.html_safe %></a>
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>

<style type="text/css">
.checklist_image {
  display: inline !important;
  position: static !important;
  height: 24px;
  width: 24px;
  margin-bottom: -5px !important;
}

.ui-icon-myapp-email {
  background-image: url("app-icon-email.png");
}

.ui-listview .ui-btn-text .ui-link-inherit {
    white-space: normal !important;
    font-weight: normal;
}

.ui-listview .ui-btn-text .ui-link-inherit img {
   position: absolute;
   top: 50%;
   left: 5px;
   margin-top: -9px; /* image height/2 */
   margin-left: 7px;
}

.ui-btn-text {
  white-space: normal;
}

.checklist .ui-btn {
  text-align: left
}

.ui-icon-checked {
  background: url("/assets/checklist_checked.png");
}
.ui-icon-unchecked {
  background: url("/assets/checklist_unchecked.png");
}
</style>