<%= form_for current_user, url: add_billing_info_user_path(current_user), html: { multipart: true, method: :put, id: "user_billing" } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div>
		<%= label_tag :card_number, "Credit Card Number" %>
		<%= text_field_tag :card_number, nil, name: nil, type: "number", pattern: "[0-9]*" %>
	</div>
	<div>
		<%= label_tag :card_code, "Security Code (CVV)" %>
		<%= text_field_tag :card_code, nil, name: nil, type: "number", pattern: "[0-9]*" %>
	</div>
	<div>
		<%= label_tag :card_month, "Card Expiration" %>
		<%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"} %>
		<%= select_year nil, {start_year: Date.current.year, end_year: Date.current.year+15}, {name: nil, id: "card_year"} %>
	</div>
	<% if current_user.program.start_date > Date.current %>
	<div>
		<%= f.fields_for current_user.program do |builder| %>
			<%= builder.label :daily_commitment, "Daily Commitment (in dollars)"  %>
			<%= builder.text_field :daily_commitment, type: "number", pattern: "[0-9]*"  %>
		<% end %>
	</div>
	<% end %>
	<br>
	<%= f.hidden_field :stripe_card_token, id: "user_stripe_card_token" %>
	<div id="stripe_error"><noscript>JavaScript is not enabled and is required for this form. Please enable it in your browser settings.</noscript></div>
	<div id="checking"><noscript>JavaScript is not enabled and is required for this form. Please enable it in your browser settings.</noscript></div>
	<div id="submitting"><noscript>JavaScript is not enabled and is required for this form. Please enable it in your browser settings.</noscript></div>
	<%= f.submit "Add Billing Info", "data-theme" => "d" %>
<% end %>
<a href="javascript:void(0);" class="togsupinfo link">Billing FAQ</a>
<div class="supinfo" style="display:none;margin-top:10px;">
	<p style="margin-top:0;"><strong>When do I get charged?</strong><br>If you respond to your check-in text every day, Kick-It is 100% free.  For each day that you do not check in, the credit card you enter will be charged $1.</p>

	<p><strong>What if $1.00 per miss isn't enough to motivate me?</strong><br>You can up the ante in the Daily Commitment field.  If you decide to do that, any penalties we collect in excess of $1.00 for a given day will be donated to a public health-related charity in your name.</p>

	<p><strong>How will it show up on my statement?</strong><br>It will show up as KICK-IT-NOW.COM and be in even increments of your Daily Commitment.</p>

	<p><strong>What's the logic behind charging me for missed check-ins?</strong><br>Some people are highly motivated by the risk of losing money.  However, we don't want you to get penalized for missing your goals, because occasional small failures are a natural part of making a hard change.  However, it is important to stay engaged and keep trying, so what we penalize is failing to report yesterday's result.</p>

	<p><strong>Any additional questions?</strong><br>Email <a href="mailto:support@kick-it-now.com" class="link">support@kick-it-now.com</a></p>
</div>