<% content_for :title do %><title>Set up</title><% end %>
<% content_for :h1 do %><h1>Set up</h1><% end %>

<%= form_for @user, url: do_setup_user_path(@user), html: { multipart: true, method: :put } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<% if @user.programs.count == 0  %>
		<fieldset>
			<p><strong>What's your first name?</strong></p>
			<%= f.text_field :first_name, placeholder: "First name (required)"  %>
		</fieldset>
		<fieldset>
			<p><strong>We'll want to text you some reminders</strong></p>
			<%= f.text_field :phone, placeholder: "Cell number (required)", type: "number", pattern: "[0-9]*" %>
		</fieldset>
	<% end %>
	<!-- Double nested form? Reminders nested in programs nested in users -->
	<%= f.fields_for :programs do |b| %>
		<% if @user.programs.count >= 1  %>
			<fieldset><%= b.select :habit, Program::HABITS, prompt: "What do you want to kick?" %></fieldset>
		<% else %>
			<%= b.hidden_field :habit, value: @user.first_habit %>
		<% end %>
		<fieldset id="reminders">
			<p><strong>Pick reminder times.</strong>  Don't worry - you'll be able to edit/remove/add these later.</p>
			<%= b.fields_for :reminders do |builder| %>
				<%= render 'reminder_fields', f: builder %>
			<% end %>
		</fieldset>
		<fieldset>
			<p><strong>Pick a start date.</strong> Make sure to give yourself time to do things like remove triggers from your environment, find healthier substitutes, etc.</p>
			<%= b.text_field :start_date, type: "date", value: Date.current + 1 %>
		</fieldset>
		<!--<fieldset>
			<p><strong>Pick a supporter.</strong> Who in your life is closest to you and someone with whom you are comfortable sharing your progress?  We will send them a welcome email and daily updates on your progress.</p>
			< Add supporters nester fields post beta >
		</fieldset>-->
	<% end %>
	<fieldset>
		<%= f.hidden_field :setup_flag, value: true %>
		<%= f.submit "Start" %>
	</fieldset>
<% end %>