<div id="calendar">
	<h3 id="month">
		<%= link_to "<", :month => (@today.beginning_of_month-1).strftime("%Y-%m-01") %>
		<%= h @today.strftime("%B %Y") %>
		<%= link_to ">", :month => (@today.end_of_month+1).strftime("%Y-%m-01") %>
	</h3>
	<%= calendar_for @days, :year => @today.year, :month => @today.month do |calendar| %>
		<%= calendar.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat')%>
		<% calendar.day(:day_method => :date) do |date, days| %>
			<%= date.day %>
			<% for day in days %>
				| D<%= h(day.day) %>
				<div class="result">
					<% if day.result? %>
						<% if day.result == 1 %>
							<%= link_to image_tag("glyphicons_206_ok_2.png", size: "15x15"), "javascript:void(0);", class: "check_select" %>
						<% elsif day.result == 2 %>
							<%= link_to image_tag("glyphicons_207_remove_2.png", size: "15x15"), "javascript:void(0);", class: "x_select" %>
						<% elsif day.result == 3 %>
							<%= link_to image_tag("glyphicons_030_pencil.png", size: "15x15"), "javascript:void(0);", class: "edit_select" %>
						<% elsif day.result == 4 %>
							<%= link_to image_tag("glyphicons_196_circle_exclamation_mark.png", size: "15x15"), "javascript:void(0);", class: "missed_select" %>
						<% end %>
					<% else %>
						<%= link_to image_tag("iconmonstr-help-icon.png", size: "20x20"), "javascript:void(0);", class: "future_select" %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>

<div id="initial_view" class="tracking_footer">Tap a day to check in, add notes, or see history.</div>
<div id="check_view" style="display:none;" class="tracking_footer">You were successful this day.</div>
<div id="x_view" style="display:none;" class="tracking_footer">You were not successful this day.</div>
<div id="edit_view" style="display:none;" class="tracking_footer">Were you successful this day?</div>
<div id="missed_view" style="display:none;" class="tracking_footer">You missed your check in this day. We charged you a buck.</div>
<div id="future_view" style="display:none;" class="tracking_footer">Too early to check in.</div>

<script type="text/javascript">
$(function(){
  $('.check_select').click(function(){
     $('#initial_view').hide();
     $('#x_view').hide();
     $('#edit_view').hide();
     $('#missed_view').hide();
     $('#future_view').hide();
     $('#check_view').show();
  });
});

$(function(){
  $('.x_select').click(function(){
     $('#initial_view').hide();
     $('#check_view').hide();
     $('#edit_view').hide();
     $('#missed_view').hide();
     $('#future_view').hide();
     $('#x_view').show();
  });
});

$(function(){
  $('.edit_select').click(function(){
     $('#initial_view').hide();
     $('#x_view').hide();
     $('#check_view').hide();
     $('#missed_view').hide();
     $('#future_view').hide();
     $('#edit_view').show();
  });
});

$(function(){
  $('.missed_select').click(function(){
     $('#initial_view').hide();
     $('#x_view').hide();
     $('#check_view').hide();
     $('#edit_view').hide();
     $('#future_view').hide();
     $('#missed_view').show();
  });
});

$(function(){
  $('.future_select').click(function(){
     $('#initial_view').hide();
     $('#x_view').hide();
     $('#check_view').hide();
     $('#edit_view').hide();
     $('#missed_view').hide();
     $('#future_view').show();
  });
});
</script>