<% content_for :title do %><title>Calendar</title><% end %>
<% content_for :h1 do %><h1>Calendar</h1><% end %>

<div id="calendar">
	<h3 id="month">
		<%= link_to "<", :month => (@today.beginning_of_month-1).strftime("%Y-%m-01") %>
		<%= h @today.strftime("%B %Y") %>
		<%= link_to ">", :month => (@today.end_of_month+1).strftime("%Y-%m-01") %>
	</h3>
	<%= calendar_for @days, :year => @today.year, :month => @today.month do |calendar| %>
		<%= calendar.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat')%>
		<% calendar.day(:day_method => :date) do |date, days| %>
			<%= date.day %>
			<% for day in days %>
				<div class="day"> D<%= h(day.day) %></div>
				<% if day.result? %>
					<div>
						<% if day.result == 1 %>
							<%= image_tag("glyphicons_206_ok_2.png", size: "8x8") %>
						<% elsif day.result == 2 %>
							<%= image_tag("glyphicons_207_remove_2.png", size: "8x8") %>
						<% elsif day.result == 3 %>
							<%= image_tag("glyphicons_030_pencil.png", size: "8x8") %>
						<% elsif day.result == 4 %>
							<%= image_tag("glyphicons_196_circle_exclamation_mark.png", size: "10x10") %>
						<% end %>
					</div>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>