<% content_for :title do %><title>Calendar</title><% end %>
<% content_for :h1 do %><h1>Calendar</h1><% end %>

<div id="calendar">
	<h3 id="month">
		<%= link_to "<", :month => (@today.beginning_of_month-1).strftime("%Y-%m-01") %>
		<%= h @today.strftime("%B %Y") %>
		<%= link_to ">", :month => (@today.end_of_month+1).strftime("%Y-%m-01") %>
	</h3>
	<%= calendar_for @days, :year => @today.year, :month => @today.month do |calendar| %>
		<%= calendar.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat')%>
		<% calendar.day(:day_method => :date) do |date, days| %>
			<%= date.day %>
			<% for day in days %>
				<div class="day"> D<%= h(day.day) %></div>
			<% end %>
		<% end %>
	<% end %>
</div>