<% content_for :title do %><title><%= @day.date.strftime("%a, %b %d") %></title><% end %>
<% content_for :h1 do %><h1><%= @day.date.strftime("%a, %b %d") %></h1><% end %>

<div style="margin-bottom:10px;">
	<%= link_to "Back", :back, "data-role" => "button", "data-inline" => true, "data-mini" => true %>
</div>

<% if @day.result == 1 %>
	<div>You were successful this day.</div>
<% elsif @day.result == 2 %>
	<div>You were not successful this day.</div>
<% elsif @day.result == 3 %>
	<div>Were you successful this day?</div>
	<%= link_to "Yes", success_day_path(@day), method: :put, "data-role" => "button", "data-inline" => true %>
	<%= link_to "No", failure_day_path(@day), method: :put, "data-role" => "button", "data-inline" => true %>
<% elsif @day.result == 4 %>
	<div>You missed your check in this day. We charged you a buck.</div>
<% else %>
	<div>Too early to check in.</div>
<% end %>