<div data-role="dialog">
	<div data-role="header" data-theme="d">
    <h1><%= @day.date.strftime("%a, %b %d") %></h1>
	</div>
	<div data-role="content">
		<%= render 'shared/flash', flash: flash %>
		<% if @day.result == 1 %>
			<h4>You were successful on this day.</h4>
		<% elsif @day.result == 2 %>
			<h4>You were not successful on this day.</h4>
		<% elsif @day.result == 3 %>
			<h4>Were you successful on this day?</h4>
			<div data-role="controlgroup">
			    <%= link_to "Yes", success_day_path(@day), method: :put, "data-role" => "button", "data-theme" => "d" %>
				<%= link_to "No", failure_day_path(@day), method: :put, "data-role" => "button", "data-theme" => "d" %>
				<% if Program.find(@day.program_id).free_days_left > 0 %>
					<%= link_to "Use A Free Day", free_day_path(@day), method: :put, "data-role" => "button", "data-theme" => "d" %>
				<% end %>
			</div>
		<% elsif @day.result == 4 %>
			<h4>You missed your check-in on this day. We charged you a buck.</h4>
		<% elsif @day.result == 5 %>
			<h4>You used one of your Free Days this day.</h4>
		<% else %>
			<h4>Too early to check in.</h4>
		<% end %>
		<%= debug(params) if Rails.env.development? %>
	</div>
</div>