<% content_for :title do %><title>Sign In</title><% end %>
<% content_for :h1 do %><h1>Sign In</h1><% end %>

<div data-role="page">
	<%= render 'shared/panel' %>
	<%= render 'shared/header' %>
	<div data-role="content">
		<%= render 'shared/flash', flash: flash %>
		<h2>Kick-It</h2>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <%= f.email_field :email, placeholder: "Email" %>
		  <%= f.password_field :password, placeholder: "Password" %>
		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me, {checked: true} %> <%= f.label :remember_me, "Remember Me" %></div>
		  <% end %>
		  <%= f.submit "Sign In", "data-theme" => "d" %>
		<% end %>
		No Account? <%= link_to 'Request a Beta Invite', carousel_path, class: "link" %><br>
		<%= link_to "Forgot Your Password?", new_password_path(resource_name), class: "link" %>
		<%= debug(params) if Rails.env.development? %>
	</div>
</div>