<h1 style="text-align:center;">Kick-It</h1>

<div class="signin_box">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.email_field :email, placeholder: "Email" %></div>
  <div><%= f.password_field :password, placeholder: "Password" %></div>
  <div><%= f.submit "Sign In", class: "btn" %></div>
  <% if devise_mapping.rememberable? -%>
    <div class="remember"><%= f.check_box :remember_me, {checked: true} %> <%= f.label :remember_me, style: "font-size:10pt;" %></div>
  <% end %>
<% end %>
</div>

<style type="text/css">
.signin_box {
	margin: 0 auto;
	width: 25%;
	padding: 50px;
	background-color: #333;//#5673b8;
	-moz-border-radius: 10pt;
    -webkit-border-radius: 10pt;
    border-radius: 10pt;
}

.signin_box input[type="email"], input[type="password"] {
	-webkit-appearance: none;
	background-color: #717171;
	border: 1pt solid #fff;
	font-family: 'EB Garamond', serif;
	font-size: 21pt;
	font-weight: normal;
	font-style: normal;
	color: #84a1d3 !important;
	text-align:center !important;
	display: block;
	width: 100%;
	margin: 10px auto;
	height: 45px;
	padding: 0;
	-moz-border-radius: 10pt;
	-webkit-border-radius: 10pt;
	border-radius: 10pt;
}

.signin_box input[type="submit"] {
	display: block;
	width: 100%;
	margin: 0 auto;
	-moz-border-radius: 10pt;
	-webkit-border-radius: 10pt;
	border-radius: 10pt;
}

.signin_box .remember {
	margin-top: 15px;
	text-align: center;
}
</style>