<% content_for :title do %><title>New Supporter</title><% end %>
<% content_for :h1 do %><h1>New Supporter</h1><% end %>

<h3>Add a Supporter</h3>

<%= form_for @supporter do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.select :relationship, Supporter::RELATIONSHIPS %>
	<%= f.text_field :first_name, placeholder: "Supporter first name (required)" %>
	<%= f.text_field :email, placeholder: "Supporter email (required)", type: "email" %>
	<%= f.submit "Add Supporter", "data-theme" => "d", "data-ajax" => false %>
<% end %>
<a href="javascript:void(0);" class="togsupinfo link">What's a Supporter?</a>
<div class="supinfo" style="display:none;margin-top:10px;">
	<p style="margin-top:0;">Every week, your supporters will get an email showing how you did the week before - which days you were successful, unsuccessful, or failed to check in.</p>
	<p>They don't have to do very much, but the knowledge that they see your results will help you stay on track.  Pick supporters with whom you're comfortable sharing your progress and who want you to succeed.</p>
	<p>An email will be sent to them on your behalf that explains how the process works.</p>
</div>