<!-- if the user has completed a week, show suggested badge, otherwise hide content -->
<div class="container">
<% if @program.completed_days >= 7 %>

	<h4 style="margin-bottom:0;"><%= @user.email %> was successful <%= @program.prev_week_sdays %> of 7 days last week.</h4>  
	<p style="margin-bottom:0; margin-top:0;">Give them some encouragement.  Use one of our suggested messages or write your own.</p><br>

	<%= form_for @supmessage do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.text_area :content, value: @program.badge, style: "height:100px;width:50%" %><br>
		<%= f.hidden_field :supporter_id, value: @supporter.id %>
		<%= f.submit "Send message", class: "btn-supporter" %>
	<% end %><br>
	
	<table style="margin-top:0;" class="pretty_table">
		<% @program.days.reported.order("date desc")[(-7 - 7*(@program.prev_week - 1))..(-1 - 7*(@program.prev_week - 1))].each do |day| %>
			<tr>
				<td class="date"><%= day.date.strftime("%A, %B %d") %></td>
				<td class="goal"><%= day.goal %></td>
				<td class="result"><%= RESULTS.key(day.result) %></td>
			</tr>
		<% end %>
	</table>

	<% if @supporter.supmessages.count > 0 %>
		<h3>Badge History</h3>
		<% @supporter.supmessages.order("created_at desc").each do |supmessage| %>
			<div class="msg_info"><%= supmessage.created_at.strftime("%a, %b %e, %l:%M%P") %></div>
			<div class="content"><%= supmessage.content.gsub(/\n/, '<br/>').html_safe %></div>
		<% end %>
	<% end %>
<% end %>
</div>