<!DOCTYPE html>
<html>
	<head>
		<%= yield :title %>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	    <meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <%= stylesheet_link_tag "jquery-mobile-custom", "http://code.jquery.com/mobile/1.3.2/jquery.mobile.structure-1.3.2.min.css", "http://fonts.googleapis.com/css?family=EB+Garamond", "mobile" %>
	    <%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.min.js", "http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js", "https://js.stripe.com/v1/", "application" %>
	    <%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>
	  	<%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
	  	<%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
	  	<%= analytics_init if Rails.env.production? %>
		<script type="text/javascript">
			var heap=heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//d36lvucg9kzous.cloudfront.net";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
			heap.load("2580676276");
		</script>
	</head>
	<body>
    <div data-role="page">

    	<div data-role="panel" id="mypanel" data-position="right" data-theme="a">
    		<div data-role="controlgroup">
	    		<%= link_to 'Profile', edit_user_registration_path, "data-role" => "button" %>
	    		<%= link_to 'Reminders', reminders_path, "data-role" => "button" %>
	    		<%= link_to 'Supporters', supporters_path, "data-role" => "button", "data-ajax" => false %>
	    		<% if current_user != nil %>
	    			<%= link_to 'Billing Info', billing_user_path(current_user), "data-role" => "button", "data-ajax" => false %>
	    		<% end %>
  			</div>
  			<%= link_to 'Sign Out', destroy_user_session_path, method: "delete", "data-role" => "button" %>
			</div>

      <div data-role="header" data-theme="d">
          <%= link_to 'Home', root_path, "data-icon" => "home", "data-iconpos" => "notext",
          	"data-role" => "button", "data-theme" => "c", "data-inline" => "true", "data-ajax" => "false" %>
          <%= yield :h1 %>
          <% if user_signed_in? && current_user.programs.count >= 1 %>
          <a href="#mypanel" data-icon="bars" data-iconpos="notext" data-theme="c">Options</a>
        	<% elsif user_signed_in? && current_user.programs.count == 0 %>
        		<%= link_to 'Sign out', destroy_user_session_path, method: "delete", "data-role" => "button", "data-theme" => "c", "data-inline" => "true" %>
          <% else %>
        		<%= link_to 'Sign In', new_user_session_path, "data-role" => "button", "data-theme" => "c", "data-inline" => "true" %>
        	<% end %>  
      </div>
 
      <div data-role="content">
      	<div>
					<% flash.each do |key, value| %>
						<div>
							<a class="test test-#{key}" data-dismiss="alert">
								<div class="close">&times;</div>
								<%= content_tag(:span, value) %>
							</a>
						</div>
					<% end %>
					
					<%= yield %>

					<%= debug(params) if Rails.env.development? %>
				</div>
      </div>
        <!--<div data-role="footer">
            <h4>My Footer</h4>
        </div>-->
    </div>
	</body>
</html>

<style type="text/css">
.test {
	display: block;
	margin: 0 auto 20px auto;
	padding: 7px 10px;
	background-color: #f8a159;
	border: 1px solid #ffffff;
	border-radius: 7px;
	color: #ffffff !important;
	font-weight: normal !important;
}

.test span {
	text-decoration: none;
	text-align: left;
}

.close {
	float: right;
	text-decoration: none;
	color: #ffffff !important;
	font-weight: bold !important;
	padding-left: 9px;  // I think this should match the padding you use above in class "test" minus the border thickness
  position: relative;
  right: 0;
  top: 0;
}
</style>